<html>
<head>
	<title>PubPinion - Home</title>

	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>    
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	
    <script type="text/javascript">

    	$(document).ready(function(){

    		$('#login_reg').hide();

    		$('#post_question').click(function(){

    		});

    		$('#question_button').click(function(){
    			$('#login_reg').slideToggle();
    			$('#question_button').fadeOut();
    		});

    		$('login_button').click(function(){
    			// io.emit('login', { email: '#login_email', password: '#login_password' });
    		});

    		$('reg_button').click(function(){
    			// io.emit('registration', { email: '#reg_email', password: '#reg_password', confirm_password: '#confirm_password' });
    		});

    		$('home_button').click(function(){

    		})

    		$('question_button').click(function(){

    		})
    	});

    </script>
    <style type="text/css">
	    *{
	    	/*margin: 10px;*/
	    	padding: 5px;
	    }
	    #login_reg{
	    	/*display: inline;*/
	    	margin-right: 0px;
	    	width: 100%;
	    }
	    #login_div{
	    	display: inline;
	    	width: 40%;
	    }
	    #reg_div{
	    	display: inline;
	    	width: 40%;
	    }
	    #question_button{
	    	/*float: right;*/
	    	/*margin-bottom: 50px;*/
	    }
	    #popular_questions{
	    	border: 1px solid black;
	    	height: 400px;
	    	width: 500px;
	    }
	    
    </style>
</head>
<body>
	<div ng-app='pubpinion'>

		<div id="menu">
			<a href="" id="home_button">?ubPinion</a>
			<a href="" id="post_question">Get the ?ubPinion</a>
			<a href="" id="mypub">My?ub</a>
		</div>

		<div ng-view=""></div>

	</div>
	<script type="text/javascript">
		var pubpinion = angular.module('pubpinion', ['ngRoute']);

		//ROUTES
		pubpinion.config(function($routeProvider){
			$routeProvider
			.when('/', 
				{templateUrl: 'partials/home.html'})
			.when('/post_question', 
				{templateUrl: 'patials/post_question.html'})
		})
		
		// CONTROLLERS
		pubpinion.controller('homeControl', function($scope, homeFactory){
			$scope.questions = homeFactory.get_questions();
			$scope.add_answer = function(answer, question_id){
				homeFactory.add_answer(answer.response, question_id.asdfasfasd)

			};
			$scope.reg_user = function(){

			};
		});

		//FACTORY
		pubpinion.factory('homeFactory', function(){
			var factory = {};
			var questions = [
			{question: 'Is this really a question generated with angular??', img: '' }];
			factory.get_questions = function(){};
			factory.add_answer = function(){};
			factory.reg_user = function(){};


			return factory;
		});		

	</script>





















</body>
</html>