<html>
<head>
	<title>PubPinion - Home</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style2.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>    
	<script src="/socket.io/socket.io.js"></script>

</head>
<body>
	<div ng-app='pubpinion'>

		<div id="menu">
			<button><a href="#/" id="home_button">?ubPinion</a></button>
			<button><a href="#/myPub" id="myPub">My?ub</a></button>
			<div id="errors"></div>
		</div>

		<div id="ng-view" ng-view=""></div>

	</div>
	<script type="text/javascript">
		io = io.connect();
		var pubpinion = angular.module('pubpinion', ['ngRoute']);

		//EXPRESS.IO
		io.on('successful_reg', function(user){
			// $('#ng-view').fadeIn(location.hash="#/myPub");
			$('#errors').unbind().html("");
			location.hash="#/myPub";
			console.log(user.name);
			$('#user_name').unbind().html("Welcome, "+user.name);
<<<<<<< HEAD
			$('#welcome_heading').unbind().fadeIn().unbind().append("<h3>You are about to embark on a journey of unabashedly honest feedback.<br>Let's get your started.<br>A.) Your ?ub's are your public posts. Any user who's lucky enough to log on around the time you post it will get the chance to tell you what they think.<br>B.) Your 'Pinions are a record of your answers to other users ?ub's.<br> Now, let's submit your first 'Pinions and get this party started.</h3>");
=======
			$('#welcome_heading').unbind().fadeIn().unbind().html("<h3>You are about to embark on a journey of unabashedly honest feedback.<br>Let's get your started.<br><br>A.) Your ?ub's are your public posts. Any user who's lucky enough to log on around the time you post it will get the chance to tell you what they think.<br><br>B.) Your 'Pinions are a record of your answers to other users ?ub's.<br><br>Now, let's submit your first 'Pinions and get this party started.</h3>");
			$('#hide_instructions_button').slideDown();
>>>>>>> 3b0545c0b3d33db183208c140f32ecbeb038fba3
		});

		io.on('successful_login', function(user){
    			console.log('successful_login');
    			$('#errors').unbind().html("");
    			location.hash="#/myPub";
    			console.log(user.name);
    			$('#user_name').html("Welcome, "+user.name);
    			$('#welcome_heading').unbind().fadeIn().unbind().html("<h3>Good to see you, buddy ;)</h3>");
			$('#hide_instructions_button').slideDown();

    	});

		io.on('failed_reg', function(err){
			console.log('ERRORS', err);
			if(typeof(err) != 'undefined'){
				$('#errors').unbind().html("");
				for(var x in err.error.errors){
					$('#errors').unbind().append("<p>"+err.error.errors[x].message+"</p>");
				};
			};
	    });

	    io.on('failed_login', function(fail_message){
	    	$('#errors').unbind().html("<p>"+fail_message.fail_message+"</p>");
	    	console.log(fail_message);
	    });

	    io.on('retrieved_question', function(question1){
	    	//console.log(question1);
	    	var i = Math.floor((Math.random() * question1.question1.length) + 0);
	    		$('#question_title').unbind().append(question1.question1[i].question);
	    		console.log(question1.question1[i].question);
	    	//}
	    });
	    io.on('failed_to_get_question', function(message){
	    	console.log('failed to retrieve question');
	    		$('#question_title').append(message);
	    });
	    io.on('posted_question', function(question){
	    	$('#question-box').fadeIn();
	    	console.log('this is the info for the last_question box',question.question, question.image);
	    	$('#last_question_question').unbind().html(question.question);
	    	$('#last_question_image').unbind().html(question.image);
	    	$('#last_question').fadeIn();
	    });

		//END EXPRESS.IO

		//ROUTES
		pubpinion.config(function($routeProvider){
			$routeProvider
			.when('/', 
				{templateUrl: '/partials/home.html', controller: 'pubpinController'})
			.when('/post_question', 
				{templateUrl: '/partials/post_question.html', controller: 'pubpinController'})
			.when('/myPub', 
				{templateUrl: '/partials/myPub.html', controller: 'pubpinController'})
			.when('/myQuestions', 
				{templateUrl: '/partials/myQuestions.html', controller: 'pubpinController'})
		});
		
		// CONTROLLERS
		pubpinion.controller('pubpinController', function($scope){

			//JQUERY
			var loaded = false;
			$(document).ready(function(){
				if(loaded === false){
					loaded = true;
					first_setup();
				}

			io.emit('load_questions');
	    		
	    	});
			function first_setup(){

	    		$('#question_button').unbind().click(function(){
	    			$('#login_reg').unbind().slideToggle();
	    			$('#question_button').unbind().fadeOut();
	    		});

	    		$('#login_button').unbind().click(function(){
	    			io.emit('login', { email: $('#login_email').val(), password: $('#login_password').val() });
	    			console.log('login_button was clicked: ');
	    		});

	    		$('#reg_button').unbind().on('click', function(){
	    			console.log('reg_button was clicked: ');
	    			io.emit('registration', { name: $('#user_name').val(), email: $('#reg_email').val(), password: $('#reg_password').val(), password_confirm: $('#password_confirm').val() });
	    		});

				$('#welcome_heading').hover(function(){
					$('').slideToggle()
				});

	    		$('#post_question_button').click(function(){

	    			console.log('post_question_button was clicked and submitted this info: ',$('#asked_question').val(), $('#maybe').val(), $('#image_file').val());

	    			io.emit('post_question', {question: $('#asked_question').val(), maybe: $('#maybe').val(), image: $('#image_file').val() });
	    			$('#question-box').fadeOut();
	    		});

	    		$('#asked_button').unbind().click(function(){
	    			$('#asked-tabled').slideToggle();
	    		})

	    		$('#answered_button').unbind().click(function(){
	    			$('#answered-tabled').slideToggle()
				});

				$('#hide_instructions_button').click(function(){
					$('#welcome_heading').slideUp();
					$('#hide_instructions_button').fadeOut();
				})
			};
				$('#login_reg').hide();
	    		$('#answered-tabled').hide();
	    		$('#asked-tabled').hide();
	    		$('#welcome_heading').hide();
	    		$('#hide_instructions_button').hide();
	    		$('#last_question').hide();
		    // END OF JQUERY
		});
		// 	$scope.questions = pubpinFactory.get_questions();
		// 	$scope.add_answer = function(answer, question_id){
		// 		pubpinFactory.add_answer(answer.response, question_id.asdfasfasd)
		// 	};
		// 	$scope.add_user = function(){
		// 		pubpinFactory.add_user($scope.new_user);
		// 	};

		//FACTORY
		// pubpinion.factory('pubpinFactory', function(){
		// 	var factory = {};
		// 	var questions = [
		// 	{question: 'Is this really a question generated with angular??', img: '' }];
		// 	factory.get_questions = function(){ 
		// 		console.log('loggin in the factory.get_questions');
		// 	};
		// 	factory.add_answer = function(){};
		// 	factory.add_user = function(new_user){
		// 		var user = new User({name: new_user.user_name, email: new_user.reg_email, })
		// 	};

		// 	return factory;
		// });	

	</script>
</body>
</html>