	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<div ng-controller="pubpinController">

			<div id="login_reg">

				<div id="login_div">
					<h1>Log In</h1>
					<input type="text" name="login_email" id="login_email" placeholder="user email">
					<input type="text" name="login_password" id="login_password" placeholder="password">
					<button id="login_button">Let the 'Pinions fly</button>
				</div id="reg_div">
				<div>
					<h1>Register</h1>
					<input type="text" name="user_name" id="user_name" placeholder="user_name">
					<input type="text" name="reg_email" id="reg_email" placeholder="your email">
					<input type="text" name="reg_password" id="reg_password" placeholder="password">
					<input type="text" name="password_confirm" id="password_confirm" placeholder="confirm password">
					<button id="reg_button">Join the ?ub</button>
					<h3>Real Answers, from Real People.</h3>
				</div>
			</div>

			<button id="show_login_reg_button">Got a Question? Get the PubPinion.</button>

			<!-- Make a query to database calling most popular questions within a time period, loop them here. -->
			<div id="popular_questions">
				<h2 id="question_title"></h2>
				<img src="" alt="this is the question image" id="question_img">
				<h1 id="question_results"> YES: 95% NO: 5% </h1>
<!-- 				<div ng-repeat="question in questions | orderBy: question">
					Question: <h2 ng-bind="questions.question" id="popular_question"></h2>
					<img ng-bind="questions.image" src="" alt="this is the question image" id="question_img">
					Percentage: <h1 ng-bind="questions.percentage"></h1>
				</div> -->
			</div>

		</div>

		<script>
		var users = require('./controllers/user.js');

		var questions = users.getQuestions();
		console.log(questions);

		$scope.questions = [

		];

        

		</script>