<div ng-controller="pubpinController">
	<h1 id="user_name"></h1>
	<div id="welcome_heading"></div>
	<button id="hide_instructions_button">Got It.</button>

	<button id="asked_button">My ?osts</button>
	<button id="answered_button">My 'Pinions</button>

		<div id="asked-tabled">
			<h3>My ?osts</h3>
		<table>
			<thead>
				<th>Asked</th>
				<th>Yes</th>
				<th>No</th>
				<th>Responses</th>
			</thead>
			<tbody>
				<tr ng-repeat="question in questions | filter: filter_questions | orderBy: 'responses' ">
					<td ng-bind="question.question"></td>
					<td ng-bind="question.yes"></td>
					<td ng-bind="question.no"></td>
					<td ng-bind="question.responses"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="answered-tabled">
		<h3>My 'Pinions</h3>
		<table>
			<thead>
				<th>Asked</th>
				<th>Yes</th>
				<th>No</th>
				<th>Responses</th>
			</thead>
			<tbody>
				<tr ng-repeat="question in questions | filter: filter_questions | orderBy: 'responses' ">
					<td ng-bind="question.question"></td>
					<td ng-bind="question.yes"></td>
					<td ng-bind="question.no"></td>
					<td ng-bind="question.responses"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="question-box">
		<h5>Q: <input type="text" name="asked_question" id="asked_question" placeholder="?ublish your Question"></h5>
		<h5>Image (optional):<input id="image_file" type="file"></h5>
		<h5>
			Include Maybe in Answers?:
			<input type="checkbox" name="maybe" value="maybe" id="maybe">
		</h5>
		<button id="post_question_button">?ub it!</button>
		<p id="answer-display" class="hidden">60% Yes 40% No</p>
	</div>
	
	<div id="last_question">
		<h5 id="last_question_question"></h5>
		<h5 id="last_question_image"></h5>
	</div>

</div>