*{
	/*margin: 10px;*/
	padding: 5px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#menu{
	margin: 0 auto;
}
#login_reg{
    margin: 0 auto;
	margin-right: 0px;
	width: 100%;
}
#login_div{
	display: inline;
	width: 40%;
}
#reg_div{
	display: inline;
	width: 40%;
}
#question_button{
	margin: 0 auto;
}
#popular_questions{
	margin: 0 auto;
	border: 1px solid black;
	/*height: 400px;*/
	width: 500px;
}