*{
	/*margin: 10px;*/
	padding: 5px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(http://31.media.tumblr.com/tumblr_mcx9kh6LvO1r9al69o1_500.jpg);
  background-size : 100% auto;
  border: 1px dotted black;
}
h1{
	background-color: #000;
	color: white;
}
input {
	opacity: 0.7;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
	margin: 5px;
}
input:hover, input:focus, input:active {
	opacity: 1.0;
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
/* Fade */
button {
	margin: 5px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
button:hover, button:focus, button:active {
  background-color: #2098d1;
  color: white;
}
/* Grow Shadow */
button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
button:hover, button:focus, button:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#question_results{
	background-color: #BDBDBD;
	color: black;
}
h2{
	background-color: #D8D8D8;
}
h3{
	background-color: #000;
	color: white;
}
#menu{
	margin: 0 auto;
}
#errors{
	color: red;
	background: gray;
}
#login_reg{
    margin: 0 auto;
	margin-right: 0px;
	width: 100%;
}
#login_div{
	display: inline;
	width: 40%;
}
#reg_div{
	display: inline;
	width: 40%;
}
button {
	background-color: white;
	border: 5px solid black;
	font-size: 14px;
	text-decoration: bold;
}
#question_button{
	margin: 0 auto;
}
#popular_questions{
	margin: 0 auto;
	/*height: 400px;*/
	width: 500px;
}
#question-box{
	background-color: white;
}
#last_question{
	opacity: 0.7;
	background-color: white;
	margin: 0 auto;
    text-align: left;
    width: 500px;
    border: 2px solid black;
    padding: 20px;
    margin-top: 50px;
}