<html>
<head>
    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
    <script type="text/javascript">
    
    var io = io.connect();

    io.emit('client_ready');
    io.on('info', function(msg) {
        console.log("Received 'info' event as well as the following message:", msg);
    });
    io.on('global_event', function(msg){
        $('#head').prepend(msg.msg+", ");

    });
    io.on('event', function(msg){
        $('#head').prepend(msg.msg);
    })
    
    </script>
</head>
<body>
    <h1 id="head"><%= title %></h1>

    <div ng-app = 'miniStore'>
        <a href="#/orders">Orders</a> | <a href="#/customers">Customers</a>

        <div ng-view=""></div>

    </div>

<script type="text/javascript">
    var miniStore = angular.module('miniStore', ['ngRoute']);

    //ROUTES
    miniStore.config(function($routeProvider){
        $routeProvider
        .when('/customers', 
            {templateUrl: 'partials/customers.html'})
        .when('/orders', 
            {templateUrl: 'partials/orders.html'})
    });

    //CONTROLLERS
    miniStore.controller('miniStoreOrderController', function($scope, miniStoreFactory){
        $scope.orderS = miniStoreFactory.get_orders();
        $scope.add_order = function(){
            miniStoreFactory.add_order($scope.order_customer, $scope.order_amount, $scope.order_product)
        }
    });
    miniStore.controller('customerController', function($scope, customerFactory){
        $scope.customerS = customerFactory.get_customer();
        
        $scope.add_customer = function(){ customerFactory.add_customer($scope.new_customer); };
        $scope.remove_customer = function(customer_name){ customerFactory.remove_customer(customer_name); };
        });
    
    //FACTORIES
    miniStore.factory('miniStoreFactory', function(){
        var orderS = [
        {customer: 'Ben', amount: '1,000', product: 'A way out', created: 'now'}];

        var factory = {};

        factory.get_orders = function(){ return orderS; };

        factory.add_order = function(order_customer, order_amount, order_product){
            orderS.push({ customer: order_customer, amount: order_amount, product: order_product, created: Date()});
            console.log("now the orders are: ", orderS);
        }
        return factory;
    });
    miniStore.factory('customerFactory', function(){
        var customerS = [
            {name: 'Joey', created: 'April 1st 2030'},
            {name: 'Chandler', created: 'April 2nd 0001'}
        ];

        var factory = {};

        factory.get_customer = function(){ return customerS; };

        factory.add_customer = function(new_customer){
            var date = new Date;
            customerS.push( { name: new_customer, created: date.getYear() } );
        };
        factory.remove_customer = function(customer_name){ 
            for (var i = 0; i < customerS.length; i++) {
                if (customerS[i].name === customer_name) {
                    customerS.splice(i, 1);
                }
            };
         };
        return factory;
    });

</script>
</body>
</html>